.bar a{
    float: right;
    padding: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-style: italic;
    display: inline;
}
.body{
    text-align: center;
    padding: 200px;
}
h2{
    font-weight: 800;
    font-style: inherit;
    color: rgba(0.7, 0.4, 0.4, 0.7);
}
.body p{
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
body{
    background-color: burlywood;
}
#login{
    border-radius: 30px;
}
.form{
    text-align: center;
    padding: 150px;
}
#options{
    display: inline-flex;
}
#options button{
    margin: 20px;
}
#options button:hover{
    color: blue
}
.questions{
    text-align: center;
    padding: 200px;
    margin: 50px;
    font-weight: 800;
    background-color: brown;
}
